<!-- 多分おなじディレクトリ内の header.mustacheを参照している -->
{{> header}}

<section class="article">
	<header class="article-header">
		<h1 class="article-title">{{article.title}}</h1>
		<p class="article-meta">By  <strong>{{article.author.firstname}}</strong>, on <strong>{{article.addedAt}}</strong></p>
	</header>

    <!-- logic less でここfor文使わなくても 記事一覧が表示される。多分 -->
	<div class="article-description">
        <!-- controllerのmodel objectにより渡された変数を参照している -->
        {{article.headline}}
        <!-- controllerのmodel objectにより渡された変数を参照している -->
        {{article.content}}
	</div>
</section>
<!-- 多分おなじディレクトリ内の footer.mustacheを参照している -->
{{> footer}}
